<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Register Users !!</title>
</head>
<body>
  <div style="text-align:center">
    <h1> Register process </h1>
        <label>Name :</label>
        <input [(ngModel)] = "register.username"><br>
        <label>Password :</label>
        <input [(ngModel)] = "register.password" type="password"><br>
        <label>Email :</label>
        <input [(ngModel)] = "register.email"><br>
        <button (click)="registerUser()">Register User</button><br>

  </div>
  <!-- <app-root></app-root> -->
</body>
</html>
